<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Cadastro</strong>
      </c-card-header>
      <c-card-body>
        <form cForm (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label cLabel for="nome">Nome</label>
            <input cFormControl id="nome" placeholder="Nome Completo" [(ngModel)]="candidato.nome" name="nome" type="text" required />
          </div>
          <div class="mb-3">
            <label cLabel for="idade">Nascimento</label>
            <input cFormControl id="idade" type="date" placeholder="Idade" [(ngModel)]="candidato.idade" name="idade" type="number" required />
          </div>
          <div class="mb-3">
            <label cLabel for="email">Email</label>
            <input cFormControl id="email" placeholder="name@example.com" [(ngModel)]="candidato.email" name="email" type="email" required />
          </div>
          <div class="mb-3">
            <label cLabel for="telefone">Telefone</label>
            <input cFormControl id="telefone" placeholder="(11) 98765-4321" [(ngModel)]="candidato.telefone" name="telefone" type="tel" required />
          </div>
          <div class="mb-3">
            <label cLabel for="rua">Rua</label>
            <input cFormControl id="rua" placeholder="Rua" [(ngModel)]="candidato.endereco.rua" name="rua" type="text" required />
          </div>
          <div class="mb-3">
            <label cLabel for="numero">Número</label>
            <input cFormControl id="numero" placeholder="Número" [(ngModel)]="candidato.endereco.numero" name="numero" type="number" required />
          </div>
          <div class="mb-3">
            <label cLabel for="cidade">Cidade</label>
            <input cFormControl id="cidade" placeholder="Cidade" [(ngModel)]="candidato.endereco.cidade" name="cidade" type="text" required />
          </div>
          <div class="mb-3">
            <label cLabel for="estado">Estado</label>
            <input cFormControl id="estado" placeholder="Estado" [(ngModel)]="candidato.endereco.estado" name="estado" type="text" required />
          </div>
          <div class="mb-3">
            <label cLabel for="cep">CEP</label>
            <input cFormControl id="cep" placeholder="CEP" [(ngModel)]="candidato.endereco.cep" name="cep" type="text" required />
          </div>
          <div class="mb-3">
            <label cLabel for="curso">Curso</label>
            <input cFormControl id="curso" placeholder="Curso" [(ngModel)]="candidato.curso" name="curso" type="text" required />
          </div>
          <!-- <div class="mb-3">
            <label cLabel for="status">Status</label>
            <select cFormControl id="status" [(ngModel)]="candidato.status" name="status" required>
              <option value="Inscrito">Inscrito</option>
              <option value="Pendente">Pendente</option>
            </select>
          </div> -->
          <button cButton class="mb-3" type="submit">Cadastrar</button>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
